@import url(http://fonts.googleapis.com/css?family=Lilita+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


html, body {
  width: 100%;
  height: 100%;
  // width: 842px;
  // height: 637px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .95em;
}

#home {
  position: absolute;
  width: 100%;
  height: 5%;
  top: 8%;
  left: 12%;
  z-index: 99;
}

.homeButton {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('/img/home.svg');
  background-size: contain;
  background-repeat: no-repeat;
}


#indexPage,
#historyPage,
#todayPage,
#trainingWhoPage,
#trainingTypePage,
#generalAwarenessTrainingPage,
#functionSpecificTrainingPage,
#safetyTrainingPage,
#securityAwarenessTrainingPage,
#inDepthSecurityAwarenessTrainingPage,
#trainingWhenPage {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

#indexPage {
  background-image: url('/img/cover.png');
}

#historyPage {
  background-image: url('/img/page-01.png');
}

#todayPage {
  background-image: url('/img/page-02.png');
}

#trainingWhoPage {
  background-image: url('/img/page-03.png');
}

#trainingTypePage {
  background-image: url('/img/page-04.png');
}

#generalAwarenessTrainingPage {
  background-image: url('/img/page-05.png');
}

#functionSpecificTrainingPage {
  background-image: url('/img/page-06.png');
}

#safetyTrainingPage {
  background-image: url('/img/page-06.png');
}

#securityAwarenessTrainingPage {
  background-image: url('/img/page-08.png');
}

#inDepthSecurityAwarenessTrainingPage {
  background-image: url('/img/page-09.png');
}

#trainingWhenPage {
  background-image: url('/img/page-10.png');
}

h1{
  width: 80%;
  margin: 7% 0 0 3%;
  padding: 5% 5% 0 5%;
  position: relative;
  text-align: center;
  color: #449388;
  font-family: 'Lilita One', cursive;
  font-size: 2.4em;
}

.textBox,
.textBoxIndex,
.contentBoxHistory,
.contentBoxToday,
.contentBoxAwareness,
.contentBoxTrainingWhen,
.contentBoxTrainingDepthSecurity,
.contentBoxTrainingSecurity,
.contentBoxTrainingSafety {
  width: 65%;
  padding: 0 2%;
  margin: 1% 0 1% 15%;
  position: relative;
  overflow: scroll;
  z-index: 99;
}

.textBoxIndex {
  line-height: 150%;
  font-size: 1.5em;
}

.contentBoxHistory,
.contentBoxToday,
.contentBoxAwareness,
.contentBoxTrainingWhen,
.contentBoxTrainingDepthSecurity,
.contentBoxTrainingSecurity,
.contentBoxTrainingSafety {
  height: 30%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contentBoxHistory {
  background-image: url('/img/hazmat-history.JPG');
}

.contentBoxToday {
  background-image: url('/img/hazmat-today.jpg');
}

.contentBoxAwareness {
  background-image: url('/img/hazmat-awareness.jpeg');
}

.contentBoxTrainingWhen {
  background-image: url('/img/hazmatOften.gif');
}

.contentBoxTrainingDepthSecurity {
  background-image: url('/img/hazmatSecurity2.jpg');
}

.contentBoxTrainingSecurity {
  background-image: url('/img/hazmatSecurity.jpg');
}

// .contentBoxTrainingSafety {
//   background-image: url('/img/hazmat-today.jpg');
// }

.arrows {
  bottom: 25%;
  width: 75%;
  height: 15%;
  margin: 0 0 0 12%;
  position: absolute;
  display: block;
  text-align: center;
  z-index: 99;
}

.prev, .next {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.prev {
  float: left;
  background-image: url('/img/prevArrow.png');

}

.next {
  float: right;
  background-image: url('/img/nextArrow.png');
}

/***************************************************
Responsive
***************************************************/

@media screen and (min-width: 900px) {

  h1, .arrows {
    text-align: left;
    padding-left: 20%;
  }

}

@media screen and (min-width: 1000px) {

  .textBox,
  .contentBoxHistory,
  .contentBoxToday,
  .contentBoxAwareness {
    width: 45%;
    margin: 1% 8%;
  }

  // .arrows {
  //   width: 65%;
  // }


}

@media screen and (min-width: 1300px) {

  .textBox,
  .arrows,
  .contentBoxHistory,
  .contentBoxToday,
  .contentBoxAwareness {
    width: 35%;
    margin: 1% 5%;
  }

}
