html, body {
  // width: 100%;
  // height: 100%;
  width: 842px;
  height: 637px;
  margin: 0;
}

// #appContainer {
//   width: 842px;
//   height: 637px;
//   overflow: scroll;
//
// }

// nav {
//   float: right;
//   margin: 2% 15% 0 0;
//   position: relative;
//   z-index: 99;
//   line-height: 285%;
//
//   ul {
//     list-style-type: none;
//   }
// }

#indexPage,
#historyPage,
#todayPage,
#trainingWhoPage,
#trainingTypePage,
#generalAwarenessTrainingPage,
#functionSpecificTrainingPage,
#safetyTrainingPage,
#securityAwarenessTrainingPage,
#inDepthSecurityAwarenessTrainingPage,
#trainingWhenPage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

#indexPage {
  background-image: url('/img/cover.png');
}

#historyPage {
  background-image: url('/img/page-01.png');
}

#todayPage {
  background-image: url('/img/page-02.png');
}

#trainingWhoPage {
  background-image: url('/img/page-03.png');
}

#trainingTypePage {
  background-image: url('/img/page-04.png');
}

#generalAwarenessTrainingPage {
  background-image: url('/img/page-05.png');
}

#functionSpecificTrainingPage {
  background-image: url('/img/page-06.png');
}

#safetyTrainingPage {
  background-image: url('/img/page-06.png');
}

#securityAwarenessTrainingPage {
  background-image: url('/img/page-08.png');
}

#inDepthSecurityAwarenessTrainingPage {
  background-image: url('/img/page-09.png');
}

#trainingWhenPage {
  background-image: url('/img/page-10.png');
}

h1 {
  width: 80%;
  padding: 5%;
  position: relative;
  text-align: center;
}

.textBox, .arrows {
  width: 70%;
  padding: 0 2%;
  margin: 0 10%;
  position: relative;
  overflow: scroll;
  z-index: 99;
}

.arrows {
  bottom: 0;
  display: block;
  text-align: center;
}

.prev, .next {
  display: inline-block;
  margin: 5%;
}
