extends ../shared/template

block content

  #generalAwarenessTrainingPage

    h1= title

    .textBox

      p
      | General Awareness Training is an introduction to the hazardous
      | materials regulations, which provides the trainee an initial
      | exposure to the requirements in place to be qualified to haul hazmat.

    .contentBoxAwareness

    .arrows
      a(href='/training-type').prev
      a(href='/training/function-specific').next
