extends ../shared/template

block content

  #inDepthSecurityAwarenessTrainingPage

    h1= title

    .textBox

      p
      | In-Depth Security Training is added if your company is required
      | to have a written security plan. If they are you must be trained
      | regarding the plan and its’ implementation.

    .contentBoxTrainingDepthSecurity

    .arrows
      a(href='/training/security-awareness').prev
      a(href='/training-when').next
