extends ../shared/template

block content

  #safetyTrainingPage

    h1= title

    .textBox

      p
      | Safety Training includes—

      ol
        li Emergency response information in case of accident or spill
        li Measures to protect the employee from hazards present when dealing with hazmat
        li Methods for avoiding accidents, such as proper handling techniques for packages containing hazmat.

    .contentBoxTrainingSafety

    .arrows
      a(href='/training/function-specific').prev
      a(href='/training/security-awareness').next
