extends ../shared/template

block content

  #securityAwarenessTrainingPage

    h1= title

    .textBox

      p
      | Security Awareness Training includes information regarding the
      | risks associated with hazmat transportation and how to recognize
      | and respond to possible security threats.

    .arrows
      .prev
        a(href='/training/safety') Prev
      .next
        a(href='/training/in-depth-security') Next
