extends ../shared/template

block content

  #securityAwarenessTrainingPage

    h1= title

    .textBox

      p
      | Security Awareness Training includes information regarding the
      | risks associated with hazmat transportation and how to recognize
      | and respond to possible security threats.

    .contentBoxTrainingSecurity

    .arrows
      a(href='/training/safety').prev
      a(href='/training/in-depth-security').next
