extends ../shared/template

block content

  #historyPage

    h1= title

    .textBox

      p
      | The first regulations for the transportation of hazardous materials
      | were enacted in the 1860’s during the Civil War when large numbers of
      | troops and munitions were transported together via train. Rules were
      | established to protect the safety of the troops during transport.

    .arrows
      .prev
        a(href='/') Prev
      .next
        a(href='/today') Next
