extends ../shared/template

block content

  #indexPage

    h1= title

    .textBox
      ul
        li
          a(href='/history') History
        li
          a(href='/today') Hazmat Today
        li
          a(href='/training-who') Who Needs Hazmat Training?
        li
          a(href='/training-type') What Kind of Hazmat Training?

          ol
            li
              a(href='/training/general-awareness') General Awareness/Familiarization Training
            li
              a(href='/training/function-specific') Function Specific Training
            li
              a(href='/training/safety') Safety Training
            li
              a(href='/training/security-awareness') Security Awareness Training
            li
              a(href='/training/in-depth-security') In Depth Security Training

        li
          a(href='/training-when') How Often Must You Be Trained?


      .arrows
        .next
          a(href='/history') Next
