extends ../shared/template

block content

  #todayPage

    h1= title

    .textBox

      p
      | Everything you want to know about HazMat can be found in the
      | Code of Federal Regulations (CFR) Title 49—commonly referred
      | to as CFR 49. This regulation contains all of the federal rules for
      | training, transporting, preparing shipping papers, packaging and
      | placarding hazardous materials along with all the product names and
      | classifications.

    .arrows
      .prev
        a(href='/history') Prev
      .next
        a(href='/training-who') Next
