extends ../shared/template

block content

  #trainingWhoPage

    h1= title

    .textBox

      p
      | CFR 49 states “any person who is employed by a hazmat employer and
      | who directly effects hazmat transportation safety’’ is required to be
      | trained. This includes the following;
      | An owner /operator of a vehicle that transports hazmat
      | Or any person who—

      ul
        li Loads, unloads or handles hazmat
        li Prepares hazmat for transportation
        li Is responsible for the safety of transporting hazmat
        li Operates a vehicle used to transport hazmat
        li Tests, reconditions, repairs, modifies, marks or otherwise represents packagings as qualified for use in the transportation of hazmat

      p
      | In classic government style many words and descriptions were used
      | when the training requirements could have been summed up as
      | follows—if you have ANYTHING to do with hazmat you have to be trained!

    .arrows
      a(href='/today').prev
      a(href='/training-type').next
