extends ../shared/template

block content

  #trainingWhenPage

    h1= title

    .textBox

      p
      | Training on hazmat must be repeated at least once every three years,
      | however employees are required to be certified on any new regulations
      | as they are introduced.

    .contentBoxTrainingWhen

    .arrows
      a(href='/training/in-depth-security').prev
